<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <%- include('includes/navigation.ejs') %>
    <style>
        body {align-content: center;}
        h1   {color: blue;}
        p    {color: red;}
        fieldset {width:500px; border: 1px solid #00695c;
  margin:auto; border-radius: 10px; background-color: white; margin-top: 50px;}
        .formheading {text-align: center;  font-family: Verdana, sans-serif; margin: 10px; color: grey}
        .content {margin:10px; font-family: Verdana, sans-serif; color: grey;}
        input {box-sizing: border-box;}
        #name {width:478px;}
        #email {width:478px;}
        #phone {width:478px;}
        #date {width:239px; color: grey;}
        #time {width:239px; color: grey;}
        #btn {width: 478px; color: white; background-color: #00695c; border-radius: 10px; border-color: white;}
    </style>

    <main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <div class="Container">
        <fieldset>
        
        <form id="form" method="POST">
        <!-- <form action="" id="form" onsubmit="sConsole(event)"> -->
            <div class="formheading">
            <h4>Book a call</h3>
    
            <h6>Book a call slot and our representative will call you within 1hr of selected time</h5>
            </div>
            <hr>
            <div class="content" id="content">
                <label for="name">Name:</label><br>
                <input type="text" id="name" ><br>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="data"><br>
                <label for="phone">Phone:</label><br>
                <input type="text" id="phone" name="data"><br>
                <label for="time">Time for call:</label><br>
                <input type="date" id="time" name="data"><input type="time" id="time" name="data"><br>
                <button type="submit" id="btn" name="data" >GET A CALL</button> 
            </div>
        </form>
        </fieldset>

       
      
    </main>
<%- include('includes/end.ejs') %>








<!-- 
<%- include('includes/head.ejs') %>
<!-- <head>
    <body>
        <p> HELLOOOOO</p>
    </body>
</head> -->
<!-- <link rel="stylesheet" href="/css/product.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        body {align-content: center; background-color: orange; background-image: url("bg.jpg");}
        h1   {color: blue;}
        p    {color: red;}
        fieldset {width:500px; border: 1px solid orange;
  margin:auto; border-radius: 10px; background-color: white; margin-top: 50px;}
        .formheading {text-align: center;  font-family: Verdana, sans-serif; margin: 10px; color: grey}
        .content {margin:10px; font-family: Verdana, sans-serif; color: grey;}
        input {box-sizing: border-box;}
        #name {width:478px;}
        #email {width:478px;}
        #phone {width:478px;}
        #date {width:239px; color: grey;}
        #time {width:239px; color: grey;}
        #btn {width: 478px; color: white; background-color: orange; border-radius: 10px; border-color: white;}
    /* </style> */

     /* <script defer type="text/javascript" src="index.js"></script> */
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

   </head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <div class="Container">
    <fieldset>
       
    <form action="" id="form" onsubmit="sConsole(event)">
        <div class="formheading">
        <h4>Book a call</h3>

        <h6>Book a call slot and our representative will call you within 1hr of selected time</h5>
        </div>
        <hr>
        <div class="content" id="content">
            <label for="name">Name:</label><br>
            <input type="text" id="name" ><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="data"><br>
            <label for="phone">Phone:</label><br>
            <input type="text" id="phone" name="data"><br>
            <label for="time">Time for call:</label><br>
            <input type="date" id="time" name="data"><input type="time" id="time" name="data"><br>
            <button type="submit" id="btn" name="data" >GET A CALL</button> 
        </div>
    </form>
    </fieldset>
</div>  
<%- include('includes/end.ejs') %>   --> -->
